Test-Info/
Temp/
Interaction/Real-Data/Datasets
Interaction/Moment-equations/Real-Data-2/Data/
Interaction/Moment-equations/Real-Data-2/Results/Backup-2/
Interaction/Latent-Experiments/Day-Investigation/Data/
Interaction/Latent-Experiments/Cell-Cycle-Investigation/Results/Script-Outfiles/
Interaction/Latent-Experiments/Cell-Cycle-Investigation/Results/Script-Testing/
Interaction/TotalX/HEK293T/Results/
*.h5ad
*.rds
*.RData
*.Rhistory
